@{
    Layout = "_Layout";
}

<link href="~/css/index.css" rel="stylesheet" />
<link href="~/css/loading_screen.css" rel="stylesheet" />
<script src="~/js/loading_screen.js"></script>

<div id="loading-wrapper">
  <div id="loading-text">LOADING</div>
  <div id="loading-content"></div>
</div>

@*
<div class="total">
</div>*@

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th></th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
        <tr>
            <th>Ca 1</th>
            <td id="shift1"></td>
            <td id="shift5"></td>
            <td id="shift9"></td>
            <td id="shift13"></td>
            <td id="shift17"></td>
            <td id="shift21"></td>
        </tr>
        <tr>
            <th>Ca 2</th>
            <td id="shift2"></td>
            <td id="shift6"></td>
            <td id="shift10"></td>
            <td id="shift14"></td>
            <td id="shift18"></td>
            <td id="shift22"></td>
        </tr>
        <tr>
            <th>Ca 3</th>
            <td id="shift3"></td>
            <td id="shift7"></td>
            <td id="shift11"></td>
            <td id="shift12"></td>
            <td id="shift19"></td>
            <td id="shift23"></td>
        </tr>
        <tr>
            <th>Ca 4</th>
            <td id="shift4"></td>
            <td id="shift8"></td>
            <td id="shift12"></td>
            <td id="shift16"></td>
            <td id="shift20"></td>
            <td id="shift24"></td>
        </tr>
    </table>
</div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function TimetableLoading(){
            ShowLoadingScreen();
            $.ajax({
                url: "/api/timetable",
                type: "GET",
                dataType: "json",
                beforeSend: function () { },
                success: function (data) {
                    console.log(data);
                    $('.total').append(`<h4>Lượt gen: ${data.generationTime}</h4>`);
                    $('.total').append(`<h4>Số lỗi: ${data.numberOfConflict}</h4>`);
                    $('.total').append(`<h4>Thời gian chạy: ${data.elapseTime}</h4>`);
                    var timetable = data.timetable.classes;
                    timetable.forEach(function (item, index) {
                        item.shifts.forEach(function (itm, index) {
                            var id = "#shift" + itm.shiftId;
                            $(id).append(`<p class="title">${item.className}</p>`);
                        });
                    });
                },
                error: function () { },
                complete: function () {
                    HideLoadingScreen();
                }
            });
        }

        window.onload = function(){
            HideLoadingScreen();
            TimetableLoading();
        }
    </script>
